### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
[Rr]elease
[Dd]ebug

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch